h1{
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container > div{
  margin: 20px 150px 20px 100px;
  padding: 20px;
}
li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.menu-item{
  display: flex;
  flex-direction: row;
}
.item-description{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
}
.cart-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.cart-button button{
  border: none;
  height: 100%;
  width: fit-content;
}
button{
  margin: 10px;
} 